/.phpunit.cache
/node_modules
/public/images
/public/img 
/public/img-category
/public/uploads
/public/build
/public/hot
/public/storage
/public/.cache
/storage/*.key
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/vendor
composer.lock
/bootstrap